<mat-sidenav-container style="z-index: 1000;" [ngClass]="class" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" position="start" (closed)="close()" [disableClose]="true">
    <div class="form-container">
      <div class="form-header">
        <h1>{{header | translate}}{{formStatus=='EDIT' && selectedTaskToEdit ? '('+selectedTaskToEdit.id+')' : ''}}</h1>
      </div>
      <div class="form-content">
        <form [formGroup]="taskForm" (ngSubmit)="onSave($event)" [class.pb-2]="formStatus=='EDIT'">
          <app-system-input label="MODULES.TASK.Title" type="text" formControlName="title"
            containerClasses="w-full"></app-system-input>
          <app-system-input label="MODULES.TASK.Description" type="textarea" formControlName="description"
            containerClasses="w-full"></app-system-input>

          <div class="flex justify-between gap-2 w-full">
            <app-system-input label="MODULES.TASK.Priority" type="dropdown" formControlName="priority"
              [dropDownConfig]="{data:taskPriorityList,translateKey:'MODULES.TASK.PRIORITY'}"
              containerClasses="w-full inline-grid-ov"></app-system-input>
            <app-system-input label="MODULES.TASK.Status" type="dropdown" formControlName="status"
              [dropDownConfig]="{data:taskStatusList,translateKey:'MODULES.TASK.STATUS'}"
              containerClasses="w-full inline-grid-ov"></app-system-input>
          </div>
          <app-system-input label="Choose a date" type="date" formControlName="dueDate"
            containerClasses="w-full"></app-system-input>
        </form>

        <!--         @if(formStatus=='EDIT'){
          <mat-divider class="pt-2"></mat-divider>
          <h4>{{'Task comments'}}</h4>
        <mat-card appearance="outlined">
          <mat-card-content>Simple card</mat-card-content>
        </mat-card>
        } -->

      </div>
      <div class="form-footer">
        <button mat-button (click)="close()">{{"SYSTEM.BUTTONS.CLOSE" | translate}}</button>
        <button type="submit" mat-flat-button [disabled]="taskForm.invalid"
          (click)="onSave($event)">{{"SYSTEM.BUTTONS.SAVE"
          | translate}}</button>
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>