<mat-drawer-container class="example-container" autosize>
    <mat-drawer [autoFocus]="true" class="example-sidenav" mode="side">
    </mat-drawer>
    <ng-container *ngFor="let page of pages;let isLast = last">
        <section [routerLink]="page.link">
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <a mat-fab extended>
                            <mat-icon>{{page.iconName}}</mat-icon>
                            {{page.name | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
</mat-drawer-container>