<div class="custom-dark-theme flex justify-center items-center h-dvh">
    <mat-card class="max-w-lg mx-auto mt-32 p-8 bg-white">
        <h1 class="text-xl font-bold pb-5">System login </h1>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <app-system-input label="LOGIN.USERNAME" type="email" formControlName="email" appearance="outline"
                containerClasses="w-full mb-4"></app-system-input>
            <app-system-input label="LOGIN.PASSWORD" type="password" formControlName="password" appearance="outline"
                containerClasses="w-full mb-4"></app-system-input>
            <button mat-flat-button type="submit" class="w-full py-2">Sign in</button>
        </form>
        <!--         <div *ngIf="isLoading" class="flex justify-center items-center mt-5">
            <mat-spinner [diameter]="25"></mat-spinner>
        </div> -->
    </mat-card>
</div>