<mat-sidenav-container [ngClass]="class" [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" position="start" (closed)="close()" [disableClose]="true">
    <div class="form-container">
      <div class="form-header">
        <h1>{{header | translate}}</h1>
      </div>
      <div class="form-content">

        <form [formGroup]="form" (ngSubmit)="onSave($event)">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{'MODULES.TASK.Title' | translate }}</mat-label>
            <input matInput [placeholder]="'MODULES.TASK.ENTER_TASK_TITLE' | translate" formControlName="title">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{'MODULES.TASK.Description' | translate }}</mat-label>
            <textarea matInput [placeholder]="'MODULES.TASK.Task_DESCRIPTION' | translate"
              formControlName="description"></textarea>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{'MODULES.TASK.Priority' | translate }}</mat-label>
            <mat-select [placeholder]="'MODULES.TASK.Priority' | translate" formControlName="priority">
              <mat-option *ngFor="let priority of taskPriorityList" [value]="priority">{{priority}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>{{'MODULES.TASK.Status' | translate }}</mat-label>
            <mat-select [placeholder]="'MODULES.TASK.Status' | translate" formControlName="status">
              <mat-option *ngFor="let status of taskStatusList" [value]="status.key">{{status.value}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Choose a date</mat-label>
            <input formControlName="dueDate" matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
              <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </form>
      </div>
      <div class="form-footer">
        <button mat-button (click)="close()">Close</button>
        <button type="submit" mat-flat-button [disabled]="form.invalid" (click)="onSave($event)">Save</button>
      </div>
    </div>
  </mat-sidenav>

</mat-sidenav-container>