<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer [autoFocus]="true" class="example-sidenav" mode="side">
    </mat-drawer>
    <ng-container *ngFor="let page of pages;let isLast = last">
        <section (click)="selectPage(page)">
            <div class="example-button-row">
                <div class="example-flex-container">
                    <div class="example-button-container">
                        <a [ngClass]="{'selected-page': selectedPage.name === page.name}" mat-fab extended>
                            <mat-icon>{{page.iconName}}</mat-icon>
                            {{page.name | translate}}
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
    <div class="row-center">
        <mat-button-toggle-group [value]="themeSelectedValue" (change)="onThemeModeChange($event)" name="theme-mode"
            aria-label="Theme Mode" [hideSingleSelectionIndicator]="true"
            [style]="{'position':'absolute','bottom':'0'}">
            <mat-button-toggle value="light">
                <mat-icon>{{'light_mode'}}</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="dark">
                <mat-icon>{{'dark_mode'}}</mat-icon>
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</mat-drawer-container>