<section class="table-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
        <ng-container *ngFor="let column of this.tableConfig.columnConfig" matColumnDef={{column.name}}>
            <div *ngIf="column.sortable;else nonSortableColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by {{column.name}}">
                    {{column.displayName | translate}}
                </th>
            </div>
            <ng-template #nonSortableColumn>
                <th mat-header-cell *matHeaderCellDef>
                    {{column.displayName | translate}}
                </th>
            </ng-template>
            <td mat-cell *matCellDef="let row">
                <div [ngSwitch]="column.columnType">
                    <p *ngSwitchCase="'translatedText'">{{column.translatedTextKey+'.'+ row[column.name]|translate}}</p>
                    <p *ngSwitchCase="'DateTime'">{{row[column.name] | date:'dd/MM/yyyy'}}</p>
                    <p *ngSwitchCase="'actions'" class="actions-container">
                        <button *ngIf="this.tableConfig.editable" mat-icon-button color="primary"
                            (click)="editButtonClicked(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="this.tableConfig.deletable" mat-icon-button color="warn"
                            (click)="deleteButtonClicked(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </p>
                    <p *ngSwitchDefault>{{row[column.name]}}</p>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsNames; sticky: true"></tr>
        <tr mat-row *matRowDef="let row;columns: columnsNames;"></tr>
    </table>
</section>