@use '@angular/material' as mat;

@include mat.core();

$light-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,

      ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

$dark-theme: mat.define-theme((color: (theme-type: dark,
        primary: mat.$cyan-palette,

      ),
      typography: (brand-family: 'Comic Sans',
        bold-weight: 900),
      density: (scale: -1)));

$light-text-color: #ffff;
$light-card-color: #e8f0ef;

$dark-bg-color: #757070fb;
$light-primary-color: mat.get-theme-color($light-theme, primary, 50);
$dark-primary-color: mat.get-theme-color($dark-theme, primary, 50);

body {
  @include mat.all-component-themes($light-theme);
  @include mat.all-component-themes($dark-theme);
}

.light {
  @include mat.all-component-themes($light-theme);

  .mat-mdc-card,
  .mat-toolbar-row,
  .mat-toolbar-single-row,
  .mat-drawer-container {
    background-color: $light-card-color;
  }

  .selected-page {
    background-color: rgba($color: $light-primary-color, $alpha: 0.5) // Use shade 500
  }
}

.dark {
  @include mat.all-component-themes($dark-theme);

  background-color: $dark-bg-color;

  .selected-page {
    background-color: rgba($color: $dark-primary-color, $alpha: 1) // Use shade 500
  }
}